<div class="header">
  <h2>Préstamos</h2>

  <button mat-raised-button color="primary" (click)="irCrear()">
    <mat-icon>add</mat-icon>
    Nuevo Préstamo
  </button>
</div>
<br />
<app-card-grid
  [items]="prestamos"
  titleKey="tituloLibro"
  subtitleKey="nombreUsuario"
  [showEdit]="false"
  [showDelete]="false"
  [customActions]="accionesPrestamo"
>
  <!-- TEMPLATE PERSONALIZADO -->
  <ng-template #extraTemplate let-prestamo>
    <div class="extra-info">
      <p>
        Préstamo:
        {{ prestamo.fechaPrestamo | date: "shortDate" }}
      </p>

      @if (prestamo.fechaDevolucion) {
        <p class="devuelto">
          Devuelto:
          {{ prestamo.fechaDevolucion | date: "shortDate" }}
        </p>
      } @else {
        <p class="pendiente">Pendiente de devolución</p>
      }
    </div>
  </ng-template>
</app-card-grid>
