.toolbar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;

  /* GLASS EFFECT */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* BORDE SUAVE */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  /* SOMBRA */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
}