<div class="grid">
  @for (item of itemsWithActions(); track item) {
    <mat-card class="card">
      <mat-card-content>
        <div class="content">
          <div class="info">
            <h3>{{ item[titleKey] }}</h3>
            <p class="subtitle">{{ item[subtitleKey] }}</p>

            @if (extraKey) {
              <p class="extra">{{ item[extraKey!] }}</p>
            }

            <!-- SLOT DINÁMICO -->
            @if (extraTemplate) {
              <ng-container
                *ngTemplateOutlet="extraTemplate; context: { $implicit: item }"
              >
              </ng-container>
            }
          </div>

          <div class="actions">
            <!-- default -->
            @if (showEdit) {
              <button
                mat-icon-button
                (click)="edit.emit(item)"
                matTooltip="Editar"
              >
                <mat-icon>edit</mat-icon>
              </button>
            }

            @if (showDelete) {
              <button
                mat-icon-button
                color="warn"
                (click)="delete.emit(item)"
                matTooltip="Eliminar"
              >
                <mat-icon>delete</mat-icon>
              </button>
            }

            <!-- custom actions -->
            @for (action of item.actions; track action.id || action.icon) {
              <button
                mat-icon-button
                [color]="action.color ?? 'primary'"
                (click)="action.action(item)"
                [matTooltip]="action.tooltip"
              >
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>

<!-- BOTÓN CARGAR MÁS -->
@if (visibleCount() < totalItems()) {
  <div class="load-more-container">
    <button
      mat-raised-button
      color="primary"
      (click)="loadMore()"
      [disabled]="loading()"
    >
      @if (!loading()) {
        Cargar más
      } @else {
        <span class="btn-loading">
          <mat-spinner diameter="20"></mat-spinner>
          Cargando...
        </span>
      }
    </button>
  </div>
}
