.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

mat-card {
  width: 100%;
  max-width: 95%;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.row mat-form-field {
  flex: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}